// breakpoint mixin

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: url(/src/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}