$white: hsl(0, 0%, 100%);
$white-50: hsl(31, 22%, 80%);
$light: hsl(48, 20%, 95%);
$dark-50: hsl(24, 2%, 55%);
$dark: hsl(0, 5%, 16%);
$brown: hsl(32, 23%, 60%);
$primary: hsl(32, 99%, 50%);
$primary-dark: hsl(50, 5%, 25%);