.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-family: "Neucha", cursive;
  font-size: 4.5rem;
  line-height: 120%;
  font-weight: 400;
}

h2 {
  font-family: "Neucha", cursive;
  font-size: 3.75rem;
  font-weight: 400;
}

h3 {
  font-family: "Neucha", cursive;
  font-size: 2.125rem;
  line-height: 120%;
  font-weight: 400;
}

.subheading {
  font-family: "Neucha", cursive;
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 400;
}

.button {
  display: block;
  max-width: 9.3125rem;
  padding: 0.6875rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 160%;
  background: #FE8A02;
  color: #fff;
  transition: background 0.4s ease-out;
}
.button:hover {
  background: #ea7600;
}

.info {
  padding: 6.25rem 0;
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: #F5F4F0;
}
.info::before {
  position: absolute;
  z-index: -50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: url(/src/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.info__top {
  margin-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
.info__image {
  flex: 0 0 50%;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}
.info__subheading {
  font-family: Neucha, cursive;
  font-size: 1.5rem;
  color: #908D8B;
}
.info__heading {
  margin-bottom: 1.875rem;
}
.info__desc {
  font-family: Neucha, cursive;
  font-size: 2.125rem;
  line-height: 120%;
  color: #2A2626;
}
.info__header-small {
  padding: 0.3125rem 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  background: #B09A81;
}
.info__text {
  display: flex;
  gap: 1.875rem;
}
.info__first-column {
  flex: 0 0 50%;
}
.info__second-column {
  flex: 0 0 50%;
}

.header {
  padding: 6.25rem 0;
  position: relative;
  z-index: 0;
}
.header::before {
  position: absolute;
  z-index: -50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: url(/src/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.header__top {
  margin-bottom: 14.0625rem;
  position: relative;
}
.header__heading {
  color: #FE8A02;
}
.header__heading span {
  color: #2A2626;
}
.header__image {
  position: absolute;
  top: -3.4375rem;
  right: -25rem;
  z-index: 0;
}
.header__text {
  display: flex;
  gap: 1.875rem;
  line-height: 160%;
}
.header__first-column {
  flex: 0 1 50%;
}
.header__second-column {
  flex: 0 1 50%;
}
.header__button {
  margin-top: 2.5rem;
}

.about {
  padding: 6.25rem 0;
}
.about__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__heading {
  margin-bottom: 1.6875rem;
  text-align: center;
}
.about__heading span {
  color: #FE8A02;
}
.about__text {
  margin-bottom: 1.875rem;
}
.video {
  margin-bottom: -12.5rem;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortions {
  padding: 12.5rem 0 6.25rem 0;
  background: #42413C;
}
.distortions__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
}
.distortions__title {
  font-size: 3.25rem;
  font-weight: 400;
  color: #fff;
}
.distortions__title span {
  color: #FE8A02;
}
.distortions__card {
  flex: 0 0 31%;
}
.distortions__card:not(:first-child) {
  background: #F5F4F0;
}
.distortions__card:hover:not(:first-child) {
  background: #FE8A02;
}

.card__link {
  color: #42413C;
}
.card__content {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__content:hover {
  color: #fff;
}
.card__content:hover .card__title {
  color: #fff;
}
.card__number {
  margin-bottom: 2.5rem;
  font-family: "Neucha", cursive;
  font-size: 4rem;
  line-height: normal;
}
.card__title {
  margin-bottom: 1rem;
  color: #FE8A02;
}/*# sourceMappingURL=main.css.map */