@use "../abstracts/" as *;

.header {
  padding: rem(100) 0;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    background: url(/src/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
  }

  &__body {
  }

  &__top {
    margin-bottom: rem(225);
    position: relative;
  }

  &__heading {
    color: $primary;

    & span {
      color: $dark;
    }
  }

  &__image {
    & img {
    }
    position: absolute;
    top: rem(-55);
    right: rem(-380);
    z-index: -1;
  }

  &__bottom {
  }

  &__text {
    display: flex;
    gap: rem(30);
    line-height: 160%;
  }

  &__first-column {
    flex: 0 1 50%;
  }

  &__second-column {
    flex: 0 1 50%;
  }

  &__button {
    margin-top: rem(40);
  }
}
.container {
}
